consensus.research/target/
consensus.research/target/*
consensus.research/.settings/
consensus.research/.settings/*
consensus.research/.settings
consensus.research/.classpath
consensus.research/.project
